<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Component in ES module</title>
</head>
<body>
  <my-header titre="Index page, welecome!"></my-header>
  <only-one></only-one>
  <my-footer llink="/second/" ltext="GO to SECOND page"></my-footer>
  
  <script src="/register/index-page.js" type="module">
   
  </script>
</body>
</html>